<header>
  <h1 class="titulo">Juego Memo</h1>
</header>
<body>
  <mat-card class="cardBotones">
    <button mat-raised-button (click)="reiniciarJuego()">Reiniciar</button>
    <div>
      <button mat-raised-button (click)="cambiarNivel(1)" >Nivel 1</button>
      <button mat-raised-button (click)="cambiarNivel(2)">Nivel 2</button>
      <button mat-raised-button (click)="cambiarNivel(3)">Nivel 3</button>
    </div>
  </mat-card>
  <mat-card class="cardJuego">
    <mat-grid-list cols="4" rowHeight="2:1" >
      <div *ngFor="let carta of this.cartas">
        <mat-grid-tile (click)="girarCarta(carta)" class="cartaOculta" *ngIf="carta.estado==='escondido'">
             ?
        </mat-grid-tile>
        <mat-grid-tile class="cartaDescubierta" *ngIf="carta.estado!=='escondido'">
            {{carta.urlImagen}}
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </mat-card>
</body>
<footer>

</footer>


<router-outlet></router-outlet>
