footer{
    position:fixed;
    bottom:0px;
    height:40px;
    width:100%;
    display: flex;
    justify-content: space-between;

    button{
        background-color: black;
        &:hover{
            background-color: #21262d;
        }
        mat-icon{
            color: #2382a2;
        }
    }
    
}